In [1]:
import numpy as np
import pandas as pd

### Cost of living
- 576 entries
- 21 columns

In [2]:
df = pd.read_csv("../data_submission/original_datasets/cost-of-living-2016.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 21 columns):
City                                                               576 non-null object
Country                                                            576 non-null object
Cost.of.Living.Index                                               576 non-null float64
Rent.Index                                                         576 non-null float64
Cost.of.Living.Plus.Rent.Index                                     576 non-null float64
Groceries.Index                                                    576 non-null float64
Restaurant.Price.Index                                             576 non-null float64
Local.Purchasing.Power.Index                                       576 non-null float64
Milk(regular)(1 liter)                                             576 non-null float64
Monthly.Pass                                                       576 non-null float64
Apartment(1.bedroom).in.City.Centre                                576 non-null float64
Internet(10 Mbps, Unlimited Data, Cable/ADSL)                      576 non-null float64
Cappuccino(regular)                                                576 non-null float64
Water(0.33 liter bottle)                                           576 non-null float64
Eggs(12)                                                           576 non-null float64
Water(1.5 liter bottle)                                            576 non-null float64
Domestic Beer (0.5 liter bottle)                                   563 non-null float64
One-way Ticket (Local Transport)                                   576 non-null float64
Basic (Electricity, Heating, Water, Garbage) for 85m2 Apartment    576 non-null float64
Cinema, International Release, 1 Seat                              576 non-null float64
Apples (1kg)                                                       576 non-null float64
dtypes: float64(19), object(2)
memory usage: 94.6+ KB

### CountryInfo
- 252 entries
- 19 columns

In [6]:
df = pd.read_csv("../data_submission/original_datasets/countryInfo.txt", sep="\t")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
ISO                   251 non-null object
ISO3                  252 non-null object
ISO-Numeric           252 non-null int64
fips                  249 non-null object
Country               252 non-null object
Capital               246 non-null object
Area(in sq km)        252 non-null float64
Population            252 non-null int64
Continent             210 non-null object
tld                   250 non-null object
CurrencyCode          251 non-null object
CurrencyName          251 non-null object
Phone                 247 non-null object
Postal Code Format    160 non-null object
Postal Code Regex     160 non-null object
Languages             249 non-null object
geonameid             252 non-null int64
neighbours            165 non-null object
EquivalentFipsCode    1 non-null object
dtypes: float64(1), int64(3), object(15)
memory usage: 37.5+ KB

### Student_Mobility_2013-14.xlsx
- 272497 entries
- 27 columns

In [9]:
df = pd.read_excel("../data_submission/original_datasets/Student_Mobility_2013-14.xlsx")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272497 entries, 0 to 272496
Data columns (total 27 columns):
Action                     272497 non-null object
CallYear                   272497 non-null int64
ProjectNumber              272497 non-null object
MobiilityID                272497 non-null object
SendingCountry             272497 non-null object
ReceivingCountry           272497 non-null object
MobilityType               272497 non-null object
SpecialNeeds               272497 non-null float64
SubjectAreaCode            272497 non-null int64
SubjectAreaName            272497 non-null object
CombinedMobilityYesNo      212208 non-null object
StartDate                  272497 non-null object
EndDate                    272497 non-null object
DurationInMonths           272497 non-null int64
DurationInDays             272497 non-null int64
SubsistenceTravel          272497 non-null float64
LevelOfStudy               272497 non-null object
ParticipantID              222033 non-null object
ParticipantGender          272497 non-null object
ParticipantType            272497 non-null object
Language                   272497 non-null object
SendingPartnerErasmusID    272497 non-null object
SendingPartnerName         272497 non-null object
HostingPartnerErasmusID    218225 non-null object
HostingPartnerName         272497 non-null object
HostingPartnerCountry      272497 non-null object
HostingPartnerCity         272484 non-null object
dtypes: float64(2), int64(4), object(21)
memory usage: 56.1+ MB

### EUC_ for_the_academic_year_2013_2014.xls
- 4919 entries
- 6 columns

In [11]:
df = pd.read_excel("../data_submission/original_datasets/EUC_ for_the_academic_year_2013_2014.xls")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4919 entries, 0 to 4918
Data columns (total 6 columns):
Institutional code              4919 non-null object
Application Reference Number    4919 non-null object
Name of Organisation            4919 non-null object
Country                         4919 non-null object
City                            4919 non-null object
Code                            4919 non-null object
dtypes: object(6)
memory usage: 230.7+ KB