In [1]:
import pandas as pd

In [81]:
df = pd.read_excel("../datasets/Student_Mobility_2013-14.xlsx")

In [96]:
sending = df.groupby(["SendingCountry", "LevelOfStudy"]).count().Action.unstack().reset_index(level=0)
receiving = df.groupby(["ReceivingCountry", "LevelOfStudy"]).count().Action.unstack().reset_index(level=0)

In [105]:
sending = sending.rename(columns={"SendingCountry": "country", "First Cycle": "sending_first", 
                                  "Second Cycle": "sending_second", "Short Cycle": "sending_short", 
                                  "Third Cycle": "sending_third"})

In [100]:
receiving = receiving.rename(columns={"ReceivingCountry": "country", "First Cycle": "receiving_first", 
                                  "Second Cycle": "receiving_second", "Short Cycle": "receiving_short", 
                                  "Third Cycle": "receiving_third"})

In [106]:
sending.join(receiving)

LevelOfStudy,country,sending_first,sending_second,sending_short,sending_third
0,AT,3378.0,2352.0,NaN,63.0
1,BE,5051.0,2683.0,1.0,19.0
2,BG,1128.0,565.0,NaN,64.0
3,CH,1996.0,978.0,9.0,53.0
4,CY,355.0,10.0,12.0,18.0
5,CZ,2725.0,4465.0,1.0,319.0
6,DE,27517.0,8615.0,58.0,67.0
7,DK,2483.0,1008.0,216.0,3.0
8,EE,664.0,337.0,NaN,9.0
9,ES,30896.0,3063.0,3131.0,145.0
10,FI,4679.0,871.0,NaN,19.0
11,FR,15847.0,16869.0,3933.0,110.0
12,GB,14888.0,525.0,13.0,184.0
13,GR,4224.0,189.0,NaN,57.0
14,HR,540.0,833.0,NaN,30.0
15,HU,2382.0,1542.0,17.0,84.0
16,IE,2838.0,130.0,NaN,4.0
17,IS,144.0,79.0,NaN,14.0
18,IT,11809.0,14020.0,3.0,499.0
19,LI,11.0,19.0,NaN,NaN
20,LT,2897.0,439.0,NaN,87.0
21,LU,432.0,2.0,NaN,NaN
22,LV,1633.0,417.0,77.0,58.0
23,MK,80.0,8.0,NaN,1.0
24,MT,191.0,27.0,10.0,2.0
25,NL,9051.0,1533.0,NaN,54.0
26,NO,976.0,686.0,NaN,4.0
27,PL,7533.0,7674.0,2.0,312.0
28,PT,4829.0,2105.0,2.0,21.0
29,RO,4083.0,1482.0,3.0,174.0
30,SE,2517.0,1191.0,2.0,10.0
31,SI,938.0,681.0,109.0,64.0
32,SK,1081.0,1922.0,NaN,174.0
33,TR,13357.0,1042.0,192.0,469.0