In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/country_selected_degreeflow.csv")

In [3]:
df.head()

  SendingCountry  First Cycle  Second Cycle  Short Cycle  Third Cycle
0             BE         81.0          71.0          0.0          0.0
1             BG         39.0          21.0          0.0          4.0
2             CH         78.0          41.0          0.0          1.0
3             CY          9.0           0.0          0.0          0.0
4             CZ         83.0         198.0          0.0          9.0

In [17]:
result_dict = {}
template = {'source': [], 'target': [], 'value': []}

countries = ['AT', 'AT', 'AT', 'BE', 'BE', 'BE', 'BG', 'BG', 'BG', 'CH', 'CH', 'CH', 'CY', 'CY', 'CY', 'CZ', 'CZ', 'CZ', 'DE', 'DE', 'DE', 'DK', 'DK', 'DK', 'EE', 'EE', 'EE', 'ES', 'ES', 'ES', 'FI', 'FI', 'FI', 'FR', 'FR', 'FR', 'GB', 'GB', 'GB', 'GR', 'GR', 'GR', 'HR', 'HR', 'HR', 'HU', 'HU', 'HU', 'IE', 'IE', 'IE', 'IS', 'IS', 'IS', 'IT', 'IT', 'IT', 'LI', 'LI', 'LI', 'LT', 'LT', 'LT', 'LU', 'LU', 'LU', 'LV', 'LV', 'LV', 'MK', 'MK', 'MK', 'MT', 'MT', 'MT', 'NL', 'NL', 'NL', 'NO', 'NO', 'NO', 'PL', 'PL', 'PL', 'PT', 'PT', 'PT', 'RO', 'RO', 'RO', 'SE', 'SE', 'SE', 'SI', 'SI', 'SI', 'SK', 'SK', 'SK', 'TR', 'TR', 'TR']
cset = set(countries)
clist = list(cset)

print(clist)
print(sorted(clist))

['LT', 'GR', 'ES', 'CY', 'MK', 'EE', 'BG', 'HU', 'DK', 'PT', 'IE', 'LV', 'LI', 'RO', 'DE', 'IT', 'FI', 'IS', 'CZ', 'NO', 'NL', 'SE', 'MT', 'BE', 'HR', 'SK', 'TR', 'SI', 'FR', 'GB', 'LU', 'PL', 'CH', 'AT']
['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR']