In [1]:
import pandas as pd
import numpy as np

In [3]:
!ls "../Downloads/cost-of-living/"

ISO_ISO3_countryname.csv   cleaned_cost_of_living.csv

In [103]:
countryname = pd.read_csv("../Downloads/cost-of-living/ISO_ISO3_countryname.csv")
costofliving = pd.read_csv("../Downloads/cost-of-living/cleaned_cost_of_living.csv")

In [104]:
countryname.sample(2)

   ISO ISO3                                       Country
19  LI  LIE  Liechtenstein
14  HR  HRV  Croatia

In [105]:
costofliving.sample(2)

,Country,Cost.of.Living.Index,Rent.Index,Domestic Beer (0.5 liter bottle)
30,CT,82.0,44.5,1.815
84,Mexico,34.0,10.6,0.930

In [106]:
costofliving["Country"] = costofliving.Country.str.strip()
countryname["Country"] = countryname.Country.str.strip()

In [109]:
res = countryname.merge(costofliving, left_on="Country", right_on="Country", how="left")

costofliving[costofliving.Country.str.lower().str.contains("mac")]

In [110]:
res[res.isna().any(axis=1)]

,ISO,ISO3,Country,Cost.of.Living.Index,Rent.Index,Domestic Beer (0.5 liter bottle)
5,CZ,CZE,Czechia,NaN,NaN,NaN
19,LI,LIE,Liechtenstein,NaN,NaN,NaN
23,MK,MKD,North Macedonia,NaN,NaN,NaN

In [111]:
res

,ISO,ISO3,Country,Cost.of.Living.Index,Rent.Index,Domestic Beer (0.5 liter bottle)
0,AT,AUT,Austria,70.0,26.7,1.176667
1,BE,BEL,Belgium,79.0,28.0,1.250000
2,BG,BGR,Bulgaria,36.7,8.3,0.770000
3,CH,CHE,Switzerland,125.1,58.6,1.902857
4,CY,CYP,Cyprus,60.7,14.0,1.123333
5,CZ,CZE,Czechia,NaN,NaN,NaN
6,DE,DEU,Germany,69.0,27.5,0.964706
7,DK,DNK,Denmark,83.0,30.2,1.632500
8,EE,EST,Estonia,50.5,14.0,1.065000
9,ES,ESP,Spain,58.3,20.6,0.881111
10,FI,FIN,Finland,75.3,27.5,2.771667
11,FR,FRA,France,75.0,25.5,1.956000
12,GB,GBR,United Kingdom,71.0,31.5,1.856250
13,GR,GRC,Greece,54.2,9.3,1.196667
14,HR,HRV,Croatia,50.2,10.0,1.044000
15,HU,HUN,Hungary,42.5,12.0,0.805000
16,IE,IRL,Ireland,79.2,34.0,2.835000
17,IS,ISL,Iceland,104.0,47.0,2.970000
18,IT,ITA,Italy,77.2,21.8,1.442069
19,LI,LIE,Liechtenstein,NaN,NaN,NaN
20,LT,LTU,Lithuania,47.0,12.5,1.035000
21,LU,LUX,Luxembourg,80.0,51.0,1.260000
22,LV,LVA,Latvia,49.0,13.0,1.150000
23,MK,MKD,North Macedonia,NaN,NaN,NaN
24,MT,MLT,Malta,68.0,28.0,1.280000
25,NL,NLD,Netherlands,73.7,33.3,1.167778
26,NO,NOR,Norway,109.6,42.0,3.550000
27,PL,POL,Poland,38.3,13.3,0.741818
28,PT,PRT,Portugal,48.2,15.5,0.987500
29,RO,ROU,Romania,35.5,8.4,0.744000
30,SE,SWE,Sweden,76.0,29.5,1.870000
31,SI,SVN,Slovenia,52.5,14.0,1.165000
32,SK,SVK,Slovakia,47.5,17.5,0.805000
33,TR,TUR,Turkey,44.6,9.8,1.972000

In [112]:
res.to_csv("/Users/matya/Downloads/inge.csv", index=False)

In [27]:
len(countryname)

34

In [25]:
len(res)

31

In [26]:
len(costofliving)

159