In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

In [23]:
df = pd.read_excel("../Student_Mobility_2013-14.xlsx")
df = df[df.MobilityType == "Mob-SMS"]

In [26]:
df = df[["SendingCountry", "ReceivingCountry", "LevelOfStudy", "MobiilityID"]]

In [58]:
receive = df.groupby(by=["ReceivingCountry", "SendingCountry", "LevelOfStudy"]).count().unstack().fillna(0)
receive = receive.reset_index(level=1)
receive.columns = ["SendingCountry", "First Cycle", "Second Cycle", "Short Cycle", "Third Cycle"]

In [59]:
send = df.groupby(by=["SendingCountry", "ReceivingCountry", "LevelOfStudy"]).count().unstack().fillna(0)
send = send.reset_index(level=1)
send.columns = ["ReceivingCountry", "First Cycle", "Second Cycle", "Short Cycle", "Third Cycle"]

In [60]:
receive

,SendingCountry,First Cycle,Second Cycle,Short Cycle,Third Cycle
ReceivingCountry,,,,,
AT,BE,81.0,71.0,0.0,0.0
AT,BG,39.0,21.0,0.0,4.0
AT,CH,78.0,41.0,0.0,1.0
AT,CY,9.0,0.0,0.0,0.0
AT,CZ,83.0,198.0,0.0,9.0
...,...,...,...,...,...
TR,PT,99.0,19.0,0.0,0.0
TR,RO,143.0,39.0,0.0,2.0
TR,SE,55.0,6.0,0.0,0.0
TR,SI,33.0,12.0,0.0,1.0
TR,SK,27.0,41.0,0.0,1.0